<h1>Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="card-columns">
  <div class="card">
    <img src="assets/img/aquaman.png" class="card-img-top" alt="Aquaman">
    <div class="card-block">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/batman.png" class="card-img-top" alt="Batman">
    <div class="card-block">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/daredevil.png" class="card-img-top" alt="Daredevil">
    <div class="card-block">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/hulk.png" class="card-img-top" alt="Hulk">
    <div class="card-block">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/linterna-verde.png" class="card-img-top" alt="linterna-verde">
    <div class="card-block">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
    </div>
  </div>
  <div class="card">
    <img src="assets/img/spiderman.png" class="card-img-top" alt="spiderman">
    <div class="card-block">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <button type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
    </div>
  </div>
  
</div>

